/* Styles for a container to center its content vertically and horizontally */
.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }