/* Styles for rows */
.Row {
  height: calc(100vh - 81px);
}

/* Styles for input fields */
.Input {
  background: #ffffff;
  border: 2px solid #435698;
  box-sizing: border-box;
  border-radius: 18px;
  color: #435698;
  text-align: center;
  padding: 10px;
}

/* Styles for headers */
.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #435698;
}

/* Styles for links */
.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #8e0909c4;
}

/* Styles for containers */
.Container {
  padding: 30px 10px;
}

/* Styles for sign-in column */
.SignInCol {
  height: 320px;
}

/* Styles for sign-up column */
.SignUpCol {
  height: 375px;
}
